body{
    background-color: aliceblue;
}

.comn_inp{
    width: 350px;
    height: 25px;
}

.textArea{
    height: 140px;
}

.cmn_lbl{
    width: 150px;
    /* background-color: #fff; */
}

.set{
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px 0 10px 0;
}

.allInp > .checkBox{
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
}

.btn{
    color: #fff;
    background-color: rgb(16, 207, 16);
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: none;
    
}
.gen{
    margin-left: 150px;
    width: 250px;
    height: auto;
}
div > h1{
    text-align: center;
}